# IGNORE ALL
*

# NOT IGNORE THESE FILES
!o
!.gitignore
!Makefile
!README.md
!bitset.c
!bitset.h
!eratosthenes.c
!eratosthenes.h
!error.c
!error.h
!ppm.c
!ppm.h
!primes.c
!steg-decode.c
!steg-encode.c
